.tableContainer {
  height: unset;
  width: 100%;
}

.rowOperationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rowOperationEdit {
  color: #198754;
}

.rowOperationDelete {
  margin-bottom: 2px;
  color: #cb2f2f;
}
